[Unit]
Description=ActivityWatch
Documentation=
After=mongodb.service

[Service]
Type=simple
ExecStart=/usr/bin/aw-server
Restart=always

[Install]
WantedBy=default.target
