-i https://pypi.org/simple
aniso8601==8.0.0
appdirs==1.4.3
attrs==19.3.0
click==7.0
flask-cors==3.0.8
flask-restplus==0.13.0
flask==1.1.1
git+https://github.com/ActivityWatch/aw-core.git@ef604753fed1aa972ab211314779c042d8180b64#egg=aw-core
importlib-metadata==0.23
itsdangerous==1.1.0
jinja2==2.10.3
jsonschema==3.1.1
markupsafe==1.1.1
more-itertools==7.2.0
pyrsistent==0.15.5
python-json-logger==0.1.11
pytz==2019.3
six==1.13.0
werkzeug==0.16.0
zipp==0.6.0
