-i https://pypi.org/simple
aniso8601==7.0.0
appdirs==1.4.3
attrs==19.1.0
click==7.0
flask-cors==3.0.8
flask-restplus==0.12.1
flask==1.1.1
git+https://github.com/ActivityWatch/aw-core.git@bf85c0238a417ea48bf8a5907193ad2fe7445710#egg=aw-core
itsdangerous==1.1.0
jinja2==2.10.1
jsonschema==3.0.1
markupsafe==1.1.1
pyrsistent==0.15.3
python-json-logger==0.1.11
pytz==2019.1
six==1.12.0
werkzeug==0.15.4
